<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h2>Twisted Monopoly</h2>
    <form action="/monopoly/1" method="POST">
        <div>
            <section>
                <h3>Player 1</h3>
                <label for="user1">Name: </label>
                <input type="text" name="user1" id="user1" placeholder="userame">
            </section>
            <section>
                <h3>Player 2</h3>
                <label for="user2">Name: </label>
                <input type="text" name="user2" id="user2" placeholder="username">
            </section>
        </div>
        <br>
        <button>Start</button>
    </form>
</body>
</html>